.ui-page {background-image: url('images/wood.jpg');
		
			
			
			
			
			

}

h2{margin-left:10px;
   margin:0;
   margin-left: 10px;
   margin-bottom: -50px;
  
	
}

.ui-collapsible-set{margin: 0;
                    margin-bottom: -50px;
   
}